*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
aside {
    width: 200px;
    height: 100vh;
    background-color: #c0202b1f;
    border-right: 3px solid #c0202c;

    > h2 {
        padding-left: 20%;
        margin-top: 1rem;
    }
}
main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: #c0202c;
    }
}
.page {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}
.grid-stack-item-content {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.logo {
    height: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    > img {
        height: 100%;
    }
}
.widget {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.weather {
    container: weather / size;

    .header {
        display: flex;
        justify-content: space-between;
    }
    .extra-info {
        flex-basis: 100px;
    }
    .temp {
        font-weight: 600;
    }
    .extra-info {
        display: flex;
        flex-direction: column;
        margin-block: auto;
        .icon {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .minmax {
        display: flex;
        justify-content: space-between;
        .tempmax {
            color: rgb(255, 120, 120);
        }
        .tempmin {
            color: rgb(93, 160, 255);
        }
    }
    .description {
        margin-top: 20px;
    }
}

@container weather (height < 80px) {
    .weather {
        .description {
            display: none;
        }
    }
}
@container weather (width < 120px) {
    .weather {
        display: flex;
        justify-content: center;
        align-items: center;
        & h2 {
            font-size: 16px;
        }
        .extra-info {
            display: none;
        }
        .description {
            display: none;
        }
    }
}

.github {
    container: github / size;

    .header,
    & .github-info {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }
    .user-avatar {
        &,
        & > img {
            height: 60px;
            width: 60px;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
    .profile {
        display: flex;
        align-items: flex-end;
        gap: 5px;

        .repos {
            font-size: 14px;
        }
    }
    .bio {
        margin-block: 15px;
    }
    .follow {
        display: flex;
        gap: 5px;
        align-items: flex-end;
    }
}

@container github (width < 200px) {
    .github {
        .user-avatar {
            display: none;
        }
        .profile {
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            .dot {
                display: none;
            }
        }
        .follow {
            .follow-rest {
                display: none;
            }
        }
    }
}
@container github (height < 200px) {
    .github {
        .bio {
            display: none;
        }
    }
}

.news {
    container: news / size;
    display: flex;
    flex-direction: column;
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 10px;
        > div {
            cursor: pointer;
            &:hover {
                color: #c0202c;
            }
        }
    }
    .body {
        display: flex;
        gap: 10px;
        .img {
            width: 180px;
            height: 180px;
            flex: 1;
        }
        .img > img {
            height: 100%;
            aspect-ratio: 1;
            -o-object-fit: cover;
               object-fit: cover;
        }
        .summary {
            margin-block: 4px;
        }
        .source {
            font-size: 12px;
            color: grey;
        }
    }
}
@container news (width < 400px) {
    .news {
        .img {
            display: none;
        }
    }
}
@container news (width < 200px) and  (height < 200px) {
    .news {
        .summary {
            display: none;
        }
    }
}

